apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      - job_name: 'auth-service'
        metrics_path: /metrics
        static_configs:
          - targets: ['auth-service.banking.svc.cluster.local:8001']
        relabel_configs:
          - source_labels: [__address__]
            target_label: instance
            replacement: 'auth-service'

      - job_name: 'account-service'
        metrics_path: /metrics
        static_configs:
          - targets: ['account-service.banking.svc.cluster.local:8002']
        relabel_configs:
          - source_labels: [__address__]
            target_label: instance
            replacement: 'account-service'

      - job_name: 'transfer-service'
        metrics_path: /metrics
        static_configs:
          - targets: ['transfer-service.banking.svc.cluster.local:8003']
        relabel_configs:
          - source_labels: [__address__]
            target_label: instance
            replacement: 'transfer-service'

      - job_name: 'notification-service'
        metrics_path: /metrics
        static_configs:
          - targets: ['notification-service.banking.svc.cluster.local:8004']
        relabel_configs:
          - source_labels: [__address__]
            target_label: instance
            replacement: 'notification-service'
