---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kong
  namespace: banking
  labels:
    app: kong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kong
  template:
    metadata:
      labels:
        app: kong
    spec:
      containers:
        - name: kong
          image: kong:3.4
          env:
            - name: KONG_DATABASE
              value: "off"
            - name: KONG_DECLARATIVE_CONFIG
              value: /kong/kong.yml
            - name: KONG_PROXY_ACCESS_LOG
              value: /dev/stdout
            - name: KONG_ADMIN_ACCESS_LOG
              value: /dev/stdout
            - name: KONG_PROXY_ERROR_LOG
              value: /dev/stderr
            - name: KONG_ADMIN_ERROR_LOG
              value: /dev/stderr
            - name: KONG_ADMIN_LISTEN
              value: 0.0.0.0:8001
            - name: KONG_PROXY_LISTEN
              value: 0.0.0.0:8000
          ports:
            - containerPort: 8000
              name: proxy
            - containerPort: 8001
              name: admin
          volumeMounts:
            - name: kong-config
              mountPath: /kong
              readOnly: true
          readinessProbe:
            exec:
              command: ["kong", "health"]
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 10
      volumes:
        - name: kong-config
          configMap:
            name: kong-config
---
apiVersion: v1
kind: Service
metadata:
  name: kong
  namespace: banking
spec:
  selector:
    app: kong
  ports:
    - port: 8000
      targetPort: 8000
      name: proxy
    - port: 8001
      targetPort: 8001
      name: admin
